<h1 class="pt-4">Nuevo Tweet</h1>

<%= render "form" %>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to "atrás", tweets_path, class: "btn btn-outline-secondary" %>
</div>

